@model IEnumerable<TravelAgencyIvanSusaninDAL.ViewModel.TravelsReservationsViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TravelId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TravelId)
        </td>
    </tr>   
    <tr>
        <td>
            <table class="table">
                <tr>
                    <th>



                    </th>
                    <th></th>
                </tr>

                @foreach (var recerv in item.Reservations)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => recerv.ReservationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => recerv.NumberReservations)
                    </td>
                </tr>
                }
                </table>
        </td>
    </tr>














       
     }

</table>

