
@{
    ViewBag.Title = " Статистика";
}
<h2>Статистика</h2>
<div>
    <div class="form-group">
        <label>Самый покупаемый тур: </label>
        @if (ViewBag.Service.GetMostPopularTourName() != null)
        {
            <p>
                <span>@ViewBag.service.GetMostPopularTourName()в количестве @ViewBag.service.GetMostPopularTour()</span>
            </p>
        }
        </div>
    <div class="form-group">
        <label>Средний чек путешествия: </label>
        @if (ViewBag.service.GetAverPrice() != null)
        {
            <p>
                <span>@ViewBag.service.GetAverPrice()</span>
            </p>
        }    
    </div>
</div>
